/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
html {
   font-size: 90.5%;
}

/* body {
  min-height: 100vh;
  width: 100vw;
  background-color: #cfdbe7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.App-link {
  color: #8be3fb;
} */

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* p {
  font-size: 4rem;
}

h1 {
  font-size: 7rem;
  text-transform: capitalize;
}

.h1style {
  min-width: 20rem;
  width: 60rem;
  padding: 2rem 2rem;
  background-color: azure;
  color: #2980b9;
  border-radius: 5rem;
  box-shadow: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  text-align: center;
} */

/* .btn,
.btnInner {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 3rem;
} */
/* 
.btnInner {
  background-color: #d12b54;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  margin-left: 4rem;
}

.btn:hover {
  background-color: #136ca7;
}

form {
  background: cornflowerblue;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  text-align: left;
}

form label {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}






.showDataStyle {
  min-width: 20rem;
  width: 60rem;
  min-height: 2rem;
  padding: 1rem;
  background: rgb(68, 116, 207);
  color: aliceblue;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
}

.showDataStyle p {
  font-size: 1.5rem;
}

.showDataStyle p:first-child {
  font-weight: bold;
} */

/* body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
} */

.text_effects{
	text-shadow:2px 2px 2px blue;
	transition: transform 2s;
}



/*animation in css3*/

.batman_contact{
	width: 100%; height: 100px;  position: relative;
}

.batman_contact img{
	width: 140px; height: 120px;
	position: absolute; 
	left: 0; top: -15px;
	animation-name: batmanbhag;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes batmanbhag{
	0%{left: 0}
	100%{ left: 85% }
}

/*transition in css3*/
.love_class{
	width: 50px; height: 50px; 
	transition-property: transform;
	transition-duration: 1s;
}

.love_class:hover{
	/*width: 100px; height: 100px; */
	transform: scale(2, 2);
}

/*multiple column in css3*/

.about_para{
	column-count: 3;
	column-gap: 50px;
	column-rule: dashed;
	text-align: justify;
}

/*border in css3*/

.img-fluid{
	border-radius: 50px;
}

.card{
	box-shadow: 4px 4px 5px 4px grey;
}

/*transform in css3*/

.text_effects:hover{
	transform: rotate(360deg);
}

/*linear-gradient*/

.join_gradient{
	background-image: linear-gradient(to left,#F650FE    , #607BF5);
}

/*flexbox in css3*/

.flex_css{
	width: 100%; height: 100px; 
	background-image: linear-gradient(to left,#F650FE    , #607BF5);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

button[type]:hover {
  background-color: darkblue;
  color: aliceblue;
}
.btn:hover {
  background-color: #136ca7;
}

form input {
  min-width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 0.3rem;
  padding: 0.5rem;
  
}

form {
  width: 100%;
}

.loginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}

.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}

.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;    
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}